{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
  {{ block.super }}
  #user_nav a{text-decoration:none;}
  #user_nav a:hover{color:#f60;}
  #follow{list-style:none;
          overflow:hidden;
          margin-bottom:20px;
         }
  #follow li{display:inline-block;
             width:60px;
             text-align:center;
             }
  #follow li a strong{display:inline-block;
                      word-wrap:break-word;
                      width:60px;
                     }
  #avatar_nav{list-style:none;}
  #avatar_nav li{height:30px;
                 line-height:20px;
                 }
{% endblock %}

{% block title %}
  个人主页
{% endblock %}

{% block contentLeft %}
  <div id="user_nav">
    <div id="user_avatar">
      <h1 style="color:#454545;margin-bottom:10px;">{{ user.nick }}</h1>
      <a href="{% url 'blog:avatar' %}"><img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% else%}{% static 'blog/image/simple_avatar.gif' %}{% endif %}" alt="用户头像" class="img_avatar" width="180px" height='180px' /></a><br />
      <ul id="follow">
        <li style="border-right:1px solid #bbb;"><a href="javascript:void(0)"><strong>0</strong><br />关注</a></li>
        <li style="border-right:1px solid #bbb"><a href="javascript:void(0)"><strong>0</strong><br />粉丝</a></li>
        <li><a href="javascript:void(0)"><strong>0</strong><br />博客</a></li>
      </ul>
      <ul id="avatar_nav">
        <li><a href="{% url 'blog:home' %}">我的主页</a></li>
        <li><a href="{% url 'blog:info' %}">个人资料</a></li>
        <li><a href="javascript:void(0)">发表博客</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

